@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

input,
button {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Sen', sans-serif;
}